absl-py==1.4.0
array-record==0.4.1
asttokens==2.4.0
astunparse==1.6.3
attrs==23.1.0
backcall==0.2.0
basemap==1.3.8
basemap-data==1.3.2
basemap-data-hires==1.3.2
bleach==6.0.0
blinker==1.6.3
boto3==1.28.78
botocore==1.31.78
cachetools==5.3.1
Cartopy==0.22.0
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
comm==0.1.4
contourpy==1.1.1
cycler==0.11.0
Cython==3.0.2
debugpy==1.8.0
decorator==5.1.1
dm-tree==0.1.8
dnspython==2.4.2
docker==6.1.3
etils==1.5.0
exceptiongroup==1.1.3
executing==1.2.0
Flask==3.0.0
Flask-Cors==4.0.0
flatbuffers==23.5.26
fonttools==4.42.1
fsspec==2023.9.2
gast==0.4.0
gin-config==0.5.0
google-api-core==2.12.0
google-api-python-client==2.101.0
google-auth==2.23.2
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.60.0
grpcio==1.58.0
gyp==0.1
h11==0.14.0
h5py==3.9.0
idna==3.4
immutabledict==3.0.0
importlib-resources==6.1.0
iniconfig==2.0.0
ipykernel==6.25.2
ipython==8.15.0
itsdangerous==2.1.2
jedi==0.19.0
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
jupyter_client==8.3.1
jupyter_core==5.3.2
kaggle==1.5.16
keras==2.13.1
kiwisolver==1.4.5
libclang==16.0.6
lxml==4.9.3
Markdown==3.4.4
MarkupSafe==2.1.3
matplotlib==3.7.4
matplotlib-inline==0.1.6
ml-dtypes==0.2.0
mysql-connector-python==8.2.0
nest-asyncio==1.5.8
numpy==1.24.3
oauth2client==4.1.3
opencv-python-headless==4.8.1.78
opt-einsum==3.3.0
outcome==1.3.0.post0
packaging==23.1
pandas==2.1.1
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.1
platformdirs==3.10.0
pluggy==1.3.0
portalocker==2.8.2
promise==2.3
prompt-toolkit==3.0.39
protobuf==4.21.12
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycocotools==2.0.7
Pygments==2.16.1
pymongo==4.6.0
PyMySQL==1.1.0
pyparsing==3.1.1
pyproj==3.6.1
pyshp==2.3.1
PySocks==1.7.1
pytest==7.4.2
python-dateutil==2.8.2
python-dotenv==1.0.0
python-slugify==8.0.1
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==25.1.1
regex==2023.8.8
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
s3transfer==0.7.0
sacrebleu==2.3.1
scikit-learn==1.3.1
scipy==1.11.3
selenium==4.15.2
sentencepiece==0.1.99
seqeval==1.2.2
shapely==2.0.2
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
stack-data==0.6.2
tabulate==0.9.0
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.1
tensorflow-datasets==4.9.3
tensorflow-estimator==2.13.0
tensorflow-hub==0.14.0
tensorflow-io-gcs-filesystem==0.34.0
tensorflow-metadata==1.14.0
tensorflow-model-optimization==0.7.5
tensorflow-text==2.13.0
termcolor==2.3.0
text-unidecode==1.3
tf-models-official==2.13.2
tf-slim==1.1.0
threadpoolctl==3.2.0
toml==0.10.2
tomli==2.0.1
tornado==6.3.3
tqdm==4.66.1
traitlets==5.10.1
trio==0.23.1
trio-websocket==0.11.1
typing_extensions==4.5.0
tzdata==2023.3
uritemplate==4.1.1
urllib3==2.0.5
wcwidth==0.2.6
webencodings==0.5.1
websocket-client==1.6.4
Werkzeug==3.0.0
wrapt==1.14.1
wsproto==1.2.0
