.Text {
    margin-left: 20%;
    align-items: center;
    justify-content: center;
    width: 60%;
    border: 3px solid #E84A27;
    padding: 10px;
}

/* .Search {
    margin-left: 20%;
    display: flex;
} */