.TopNavbar {
    font-size: 1.6rem;
    margin-left: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
    background: #13294B;
}

.TopNavbar .Logo {
    color: #E84A27;
}

.TopNavbar .Logo:hover {
    cursor: pointer;
}